.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  display: none;
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

.textarea {
  border: none;
  padding: 3%;
  width: 70%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.sendButton {
  cursor: pointer;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #4e01a3;
  padding: 5px;
  display: inline-block;
  border-width: 4px;
  border-color: mediumslateblue;
  width: 15%;
}

.sendButton:hover {
  background: #5e2899;
}

.uploadButton:hover {
  background: #5e2899;
}

.uploadButton {
  cursor: pointer;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #4e01a3;
  padding: 15px 14px 14px 14px;
  display: inline-block;
  border: 5px outset mediumslateblue;
}

.uploadImage {
  width: 40px;
}